:root {
  --main-font: "Bree Serif", serif;
  --head-font: "Poppins", sans-serif;
  --h1-font: clamp(5rem, 6vw + 1rem, 8rem);
  --h2-font: clamp(4rem, 4vw + 1rem, 6rem);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  display: inline-block;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

/* navbar logo  */

.logo {
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.logo img {
  transition: transform 0.5s ease-in-out;
  height: 5.5rem;
  border: 1px solid white;
  border-radius: 3rem;
}

.logo img:hover {
  transform: rotate(360deg);
}

/* navbar menu */

header::before {
  content: "";
  position: absolute;
  background-color: black;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.69;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  z-index: 9;
}

nav {
  display: flex;
}

.nav-ul {
  display: flex;
  align-items: center;
  gap: 5.5rem;
}

.nav-li {
  display: inline-block;
  font-size: 1.8rem;
  font-family: var(--head-font);
}

.nav-li a {
  color: white;
  padding: 0.1em 0.5em;
  transition: all 0.1s ease-in-out;
}

.nav-li a:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* Ham Menu */

.checkbtn {
  display: none;
}

.ham-menu {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 2.7rem;
  height: 3rem;
}

.bar {
  background-color: white;
  width: 3rem;
  height: 4px;
  margin: 0.4rem;
  transition: all 0.6s ease-in-out;
}

/* Home Section */

main::before {
  content: "";
  background-image: url("../assets/bgimg1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 70rem;
  top: 0;
  left: 0;
  opacity: 0.89;
}

main {
  max-width: 100%;
  height: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home {
  font-family: var(--main-font);
  color: white;
  line-height: 6rem;
}

#home h1 {
  font-size: var(--h1-font);
}

#home strong {
  color: rgb(169, 221, 255);
}

#home p {
  font-size: clamp(2rem, 2.7vw + 1rem, 4rem);
}

/* Service Section */
#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

#services h2 {
  font-family: var(--main-font);
  font-size: var(--h2-font);
}

.service-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.service-section .box {
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 30px;
  background-color: aliceblue;
  margin: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  transition: all 0.3s ease-in-out;
}

.service-section .box:hover {
  background-color: rgb(169, 221, 255);
  border-radius: 30px;
}

.service-section .box img {
  display: block;
  margin: auto;
  height: 180px;
}

.service-section .box b {
  font-family: var(--main-font);
  font-size: 3.5rem;
}

.service-section .box p {
  font-size: clamp(1.5rem, 4vw + 1rem, 1.7rem);
  text-align: center;
  font-family: var(--main-font);
  width: 100%;
}

/* Client Section */

#clients::before {
  content: "";
  background-image: url("../assets/bgimg2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 50rem;
  z-index: -1;
  opacity: 0.69;
}

#clients {
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clients h2 {
  font-family: var(--main-font);
  font-size: var(--h2-font);
  text-align: center;
}

.client-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-items img {
  height: 180px;
  cursor: pointer;
}

/* Contact Section */

#contactus::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 88rem;
  background-image: url("../assets/contactbg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

#contactus {
  min-height: 87rem;
}

#contactus h2 {
  font-family: var(--main-font);
  font-size: var(--h2-font);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.contact-items label,
input,
textarea {
  font-family: var(--main-font);
}

.contact-items label {
  font-size: 1.8rem;
}

.contact-items input,
textarea {
  font-size: 2rem;
  padding: 1rem 2rem;
}

.contact-items textarea {
  resize: none;
}

.submit-btn {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Contactsub {
  padding: 0.6rem 1.3rem;
  border: none;
  font-family: var(--main-font);
  font-size: 2.2rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#Contactsub:hover {
  background-color: rgb(169, 221, 255);
}

/* Footer Section */

footer {
  display: grid;
  place-content: center;
  margin-top: 0;
  height: 10rem;
  width: 100%;
  background-color: black;
  color: white;
}

footer p {
  text-align: center;
  font-size: 1.8rem;
  font-family: var(--main-font);
}

/* Utilities */

.text-center {
  text-align: center;
}
